<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>empCR login</title>

	{% load static %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}">

	<!-- Favicons -->
	{% load static %}
	<link href="{% static 'img/emp.jpg' %}" rel="icon">

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href= "{% static 'css/style.css'%}" rel="stylesheet">
	<link href= "{% static 'css//style-responsive.css' %}" rel="stylesheet">
</head>

<body>
	<!-- **********************************************************************************************************************************************************
	MAIN CONTENT
	*********************************************************************************************************************************************************** -->
	<div id="login-page">
		<div class="container">
			<!--header start-->
			<header class="header black-bg">
				<!--logo start-->
				<a href="login.html" class="logo"><b>EMP<span>CR</span></b></a>
				<!--logo end-->
			</header>
			<!--header end-->
				<div class = "content-panel col-md-8" style="margin-top: 100px">
					<div class="col-md-12	">
						<h2 contenteditable="true">EMP CR</h2>
						<h3 contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
					</div>
				</div>

			<div class="col-md-4 ">
				<form method="POST" class="form-login">
					{% csrf_token %}
					<h2 class="form-login-heading">Se connecter maintenant</h2>
					<div class="login-wrap">
						<input name="uname" type="text" class="form-control" placeholder="Nom de l'utilisateur" autofocus>
						<br>
						<input name="pwd" type="password" class="form-control" placeholder="Mot de passe">
						<br>
						<select name="id_type" class="form-control" required>
							<option value="1" >Administrateur</option>
							<option value="2" >Enseignant</option>
							<option value="3" >Elève</option>
						</select>
						<br>
						<button class="btn btn-theme btn-block" name="submit" value="Login" type="submit"> SE CONNECTER</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- js placed at the end of the document so the pages load faster -->
	<!--
		inutile
		<script src= "{% static 'jquery/jquery.min.js' %}" ></script>
		<script src= "{% static 'js/bootstrap.min.js' %}" ></script>
	-->

	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
</body>

</html>
